#this{
    color: #f00505;
    background-color: green;
    border: solid green;
    font-family: tahoma;
    text-align: center;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;

}

.today{
   border: 30px solid transparent;
    border-image: url("back.jpg") 30 round;
    padding: 15px;
    box-shadow: 10px 10px 10px pink;
}
a:link{
    background-color: orange;
    
}
a:active{
    background-color:black;
    color:red;
    
}
a:visited{
    background-color: yellow;
    
}